<div id="register-form" class="dialog-box">
	<h1>Edit Ad</h1>
	<form>
		<p>
			<label for="username">Title:</label>
			<input ng-model="ad.title" type="text" id="title" ng-value="ad.title" required="required" />
		</p>
		<p>
			<label for="password">Text:</label>
			<textarea ng-model="ad.text" id="text" required="required"></textarea>
		</p>	
		<p>
			<label for="image">Image:</label>
			<input type="file" id="image" ng-model="ad.imageDataUrl" onchange="angular.element(this).scope().fileSelected(this)" />
			<input type="button" class="button" ng-click="removeImg()" value="Remove image" />
			<div class="image-box"></div>
		</p>
		<p>
			<label for="category">Category:</label>
			<select id="category" ng-model="ad.categoryId">
				<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
			</select>
			<label for="town">Town:</label>
				<select ng-model="ad.townId">
					<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
				</select>
		</p>
		<p class="buttons">
			<input type="submit" ng-click="editAd()" class="button" value="Edit"/>
			<a href="/user/ads"  class="button">Cancel</a>
		</p>
	</form>
</div>
