<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>Navigation</h1>
		<input type="button" onclick="userSession.logout()" class="button" value="LogOut"/></br>
		<a href="/#/user" class="button">Home</a></br>
		<a href="/#/userAds" class="button" >My Ads</a></br>
		<a href="/#/publish" class="button">Publish New Ad</a></br>
		<a href="" class="button" >Edit Profile</a>
	</div>
</div>
<div class="col-md-6">
	<div class="dialog-box" ng-repeat="ad in data.ads | filter:filterBy | filter:filterByTown" style="width:100%">
		<a href="/#ads/{{ad.id}}">
			<h1>{{ad.title}}	{{ad.date | date:'dd-MMM-yyyy'}}</h1>
			<img src="" ng-src="{{ad.imageDataUrl}}"/>
			<div>{{ad.text}}</div>
			<div><strong>Name:</strong> {{ad.ownerName}}</div>
			<div><strong>Email:</strong> {{ad.ownerEmail}}</div>
			<div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
		</a>
	</div>
	<pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
</div>
<div class="col-md-3">
	Category:
					<select ng-model="filterByTown.categoryId">
						<option selected value="">All</option>
						<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
					</select>
					Town:
					<select ng-model="filterBy.townId">
					<option selected value="">All</option>
						<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
					</select>
</div>