<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

<div class="box" ng-repeat="ad in data.ads" style="width:100%">
	<h1>{{ad.title}}	Date:{{ad.date | date:'dd-MMM-yyyy'}}</h1>
	<img src="" ng-src="{{ad.imageDataUrl}}" style="width:30%"/>
	<div>{{ad.text}}</div>
	<div><strong>Category:</strong> {{ad.categoryName}}</div>
	<div><strong>Town:</strong> {{ad.townName}}</div>
	<div><strong>Status:</strong>{{ad.id}} {{ad.status}}</div>
	<a href="/#/edit/{{ad.id}}" class="button" >Edit</a>
	<a href="/#/publishagain/{{ad.id}}" class="button">Re</a>
	<a href="/#/delete/{{ad.id}}" class="button" target="_self" >Delete</a>
	<a href="/#/deactivate/{{ad.id}}" class="button" >Deactivate</a>	
</div>
