<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>Navigation</h1>
		<input type="button" onclick="userSession.logout()" class="button" value="LogOut"/></br>
		<a href="/#/admin/home" class="button">Ads</a></br>
		<a href="/#/admin/users/list" class="button" >Users</a></br>
		<a href="/#/admin/categories/list" class="button">Categories</a></br>
		<a href="/#/admin/towns/list" class="button" >Towns</a>
	</div>
</div>
<div class="col-md-9">
	<table id="phones">
		<tr>
			<th>Id</th>
			<th>Categorie</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="town in towns">
			<td>{{town.id}}</td>
			<td>{{town.name}}</td>
			<td>	
				<a href="#/admin/categories/edit/{{town.id}}">Edit</a>
				<a href="#/admin/categories/delete/{{town.id}}">Delete</a>
			</td>
		</tr>
	</table>
	<p><a href="#/admin/categories/add" class="button">Add categorie</a></p>
</div>