<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>Navigation</h1>
		<input type="button" onclick="userSession.logout()" class="button" value="LogOut"/></br>
		<a href="/#/admin/home" class="button">Ads</a></br>
		<a href="/#/admin/users/list" class="button" >Users</a></br>
		<a href="/#/admin/categories/list" class="button">Categories</a></br>
		<a href="/#/admin/towns/list" class="button" >Towns</a>
	</div>
</div>
<div class="col-md-6">
	<div class="dialog-box" ng-repeat="ad in data.ads | filter:filterBy | filter:filterByTown" style="width:100%">
			<h1>{{ad.title}}	{{ad.date | date:'dd-MMM-yyyy'}}</h1>
			<img src="" ng-src="{{ad.imageDataUrl}}" style="width:30%"/>
			<div>{{ad.text}}</div>
			<div><strong>Name:</strong> {{ad.ownerName}}</div>
			<div><strong>Email:</strong> {{ad.ownerEmail}}</div>
			<div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
			<div><strong>Username:</strong> {{ad.ownerUsername}}</div>
			<div><strong>Town:</strong> {{ad.townName}}</div>
			<div><strong>Category:</strong> {{ad.categoryName}}</div>
			<div><strong>Status:</strong> {{ad.status}}</div>
			<div>
				<a href class="button" ng-click="aprove(ad.id)">Approve</a>
				<a href class="button" ng-click="reject(ad.id)">Reject</a>
				<a href="#/admin/ads/edit/{{ad.id}}" class="button">Edit</a>
				<a href="#/admin/ads/delete/{{ad.id}}" class="button">Delete</a>
			</div>
	</div>
</div>
<div class="col-md-3">
	Category:
					<select ng-model="filterByTown.categoryId">
						<option selected value="">All</option>
						<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
					</select>
					Town:
					<select ng-model="filterBy.townId">
					<option selected value="">All</option>
						<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
					</select>
</div>