<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="reloadAds()"
  max-size="9" boundary-links="true">
</pagination>

<div class="col-md-3">
	<div class="box">
		<h1>Navigation</h1>
		<input type="button" onclick="userSession.logout()" class="button" value="LogOut"/></br>
		<a href="/#/admin/home" class="button">Ads</a></br>
		<a href="/#/admin/users/list" class="button" >Users</a></br>
		<a href="/#/admin/categories/list" class="button">Categories</a></br>
		<a href="/#/admin/towns/list" class="button" >Towns</a>
	</div>
	
<div class="box">
    <h2>Categories</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedCategoryId == null}"
            ng-click="categoryClicked(null)">
            All
        </li>
        <li ng-click="statusClicked('Published')"
            ng-class="{'selected' : selectedCategoryId == 'Published'}">
			Published
        </li>
        <li ng-click="statusClicked('WaitingApproval')"
            ng-class="{'selected' : selectedCategoryId == 'WaitingApproval'}">
			WaitingApproval
        </li>
        <li ng-click="statusClicked('Inactive')"
            ng-class="{'selected' : selectedCategoryId == 'Inactive'}">
			Inactive
        </li>
        <li ng-click="statusClicked('Rejected')"
            ng-class="{'selected' : selectedCategoryId == 'Rejected'}">
			Rejected
        </li>
    </ul>
</div>

</div>
<div class="col-md-6">
	<div class="dialog-box" ng-repeat="ad in data.ads | filter:filterBy | filter:filterByTown" style="width:100%">
			<h1>{{ad.title}}	{{ad.date | date:'dd-MMM-yyyy'}}</h1>
			<img src="" ng-src="{{ad.imageDataUrl}}" style="width:30%"/>
			<div>{{ad.text}}</div>
			<div><strong>Name:</strong> {{ad.ownerName}}</div>
			<div><strong>Email:</strong> {{ad.ownerEmail}}</div>
			<div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
			<div><strong>Username:</strong> {{ad.ownerUsername}}</div>
			<div><strong>Town:</strong> {{ad.townName}}</div>
			<div><strong>Category:</strong> {{ad.categoryName}}</div>
			<div><strong>Status:</strong> {{ad.status}}</div>
			<div>
				<a href class="button" ng-click="aprove(ad.id)">Approve</a>
				<a href class="button" ng-click="reject(ad.id)">Reject</a>
				<a href="#/admin/ads/edit/{{ad.id}}" class="button">Edit</a>
				<a href="#/admin/ads/delete/{{ad.id}}" class="button">Delete</a>
			</div>
	</div>
</div>
<div class="col-md-3">
<div class="box">
    <h2>Categories</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedCategoryId == null}"
            ng-click="categoryClicked(null)">
            All
        </li>
        <li ng-repeat="category in categories"
            ng-click="categoryClicked(category.id)"
            ng-class="{'selected' : selectedCategoryId == category.id}">
            {{category.name}}
        </li>
    </ul>
</div>

<div class="box">
    <h2>Towns</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedTownId == null}"
            ng-click="townClicked(null)">
            All
        </li>
        <li ng-repeat="town in towns"
            ng-click="townClicked(town.id)"
            ng-class="{'selected' : selectedTownId == town.id}">
            {{town.name}}
        </li>
    </ul>
</div>

	Category:
					<select ng-model="filterByTown.categoryId">
						<option selected value="">All</option>
						<option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.name}}</option>
					</select>
					Town:
					<select ng-model="filterBy.townId">
					<option selected value="">All</option>
						<option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
					</select>
</div>