	<table id="phones">
		<tr>
			<th>Id</th>
			<th>Town</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="town in towns">
			<td>{{town.id}}</td>
			<td>{{town.username}}</td>
			<td>
				<a href="/#/admin/towns/edit/{{town.id}}">Edit</a>
				<a href="/#/admin/towns/delete/{{town.id}}">Delete</a>
			</td>
		</tr>
	</table>
<pagination total-items="ads.numItems" ng-model="adsParams.startPage"  items-per-page="adsParams.pageSize" ng-change="reloadAds()"  max-size="9" boundary-links="true"></pagination>
	<p><a href="#/admin/towns/add" class="button">Add town</a></p>
