<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>Navigation</h1>
		<input type="button" onclick="userSession.logout()" class="button" value="LogOut"/></br>
		<a href="/#/admin/home" class="button">Ads</a></br>
		<a href="/#/admin/users/list" class="button" >Users</a></br>
		<a href="/#/admin/categories/list" class="button">Categories</a></br>
		<a href="/#/admin/towns/list" class="button" >Towns</a>
	</div>
</div>
<div>
	<table id="phones">
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="user in users.users">
			<td>{{user.username}}</td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.phoneNumber}}</td>
			<td>
				<a href="#/admin/users/edit/{{user.username}}">Edit</a>
				<a>Delete</a>
			</td>
		</tr>
	</table>
</div>