	<table id="phones">
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="user in users.users">
			<td>{{user.username}}</td>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.phoneNumber}}</td>
			<td>
				<a href="#/admin/users/edit/{{user.username}}">Edit</a>
				<a href="#/admin/users/delete/{{user.username}}">Delete</a>
			</td>
		</tr>
	</table>
<pagination total-items="ads.numItems" ng-model="adsParams.startPage"  items-per-page="adsParams.pageSize" ng-change="reloadAds()"  max-size="9" boundary-links="true"></pagination>
