<!-- Navigation box for anonymous site visitors -->
<div ng-if="user.notLoggedUser()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>
</div>

<!-- Login / register box for anonymous site visitors  -->
<div class="box" ng-if="user.notLoggedUser()">
    <p>To publish a new ad, please login.</p>
    <a href="#/login" class="button">Login</a>
    <a href="#/register" class="button">Register</a>
</div>

<!-- Navigation box for logged in normal users (not admins) -->
<div ng-if="user.isLoggedUser()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/ads/publish">Publish New Ad</a></li>
        <li><a href="#/user/profile">Edit Profile</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>

<!-- Navigation box for logged in admins -->
<div ng-if="user.isAdmin()" class="box">
    <h2>Administrator</h2>
    <ul class="sidebar-menu">
        <li><a href="#/admin/home">Ads</a></li>
        <li><a href="#/admin/users/list">Users</a></li>
        <li><a href="#/admin/categories/list">Categories</a></li>
        <li><a href="#/admin/towns/list">Towns</a></li>
        <li><a ng-click="logout()">Logout</a></li>
    </ul>
</div>
<div class="box">
    <h2>Status</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedStatus == undefined}"
            ng-click="statusClicked(undefined)">
            All
        </li>
        <li ng-click="statusClicked('Published')"
            ng-class="{'selected' : selectedStatus == 'Published'}">
			Published
        </li>
        <li ng-click="statusClicked('WaitingApproval')"
            ng-class="{'selected' : selectedStatus == 'WaitingApproval'}">
			WaitingApproval
        </li>
        <li ng-click="statusClicked('Inactive')"
            ng-class="{'selected' : selectedStatus == 'Inactive'}">
			Inactive
        </li>
        <li ng-click="statusClicked('Rejected')"
            ng-class="{'selected' : selectedStatus == 'Rejected'}">
			Rejected
        </li>
    </ul>
</div>

