<div class="col-md-9">
	<pagination total-items="ads.numItems" ng-model="adsParams.startPage"  items-per-page="adsParams.pageSize" ng-change="reloadAds()"  max-size="9" boundary-links="true"></pagination>
	<div class="box" ng-repeat="ad in data.ads | filter:filterBy | filter:filterByTown" style="width:100%">
		<h1>{{ad.title}}	{{ad.date | date:'dd-MMM-yyyy'}}</h1>
		<img ng-src="{{ad.imageDataUrl}}" style="width:30%"/>
		<div>{{ad.text}}</div>
		<div><strong>Name:</strong> {{ad.ownerName}}</div>
		<div><strong>Email:</strong> {{ad.ownerEmail}}</div>
		<div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
	</div>
</div>
<div class='col-md-3 sidebar' ng-controller="RightSidebarController">
    <div ng-include="'templates/partial/right-sidebar.html'"></div>
</div>
