<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>To publish new ad, please login</h1>
		<a href="/login" class="button">Login</a>
		<a href="/register" class="button">Register</a>
	</div>
</div>
<div id="login-form" class="dialog-box">
	<h1>Login</h1>
	<form>
	<p>
		<label for="username">Username:</label>
		<input required ng-model="myForm.username" type="text" id="username" />
	</p>
	<p>
		<label for="password">Password:</label>
		<input ng-model="myForm.password" type="password" required id="password" />
	</p>
	<p class="buttons">
		<a href="#"  ng-click="myForm.submitTheForm()" class="button">Login</a>
		<a href="/register" class="link">Register</a>
	<p>
</div>

