<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>To publish new ad, please login</h1>
		<a href="/login" class="button">Login</a>
		<a href="/register" class="button">Register</a>
	</div>
</div>
<div id="register-form" class="dialog-box">
	<h1>Register</h1>
	<p>
		<label for="username">Username:</label>
		<input type="text" id="username" />
	</p>
	<p>
		<label for="password">Password:</label>
		<input type="password" id="password" />
	</p>
	<p>
		<label for="fullName">Full Name:</label>
		<input type="text" id="fullName" />
	</p>
	<p class="buttons">
		<a href="#" class="button">Register</a>
		<a href="/login" class="link">Login</a>
	</p>
</div>

