<div class="col-md-3">
	<div class="dialog-box" id="welcome">
		<h1>To publish new ad, please login</h1>
		<a href="/#/login" class="button">Login</a>
		<a href="/#/register" class="button">Register</a>
	</div>
</div>
<div id="register-form" class="dialog-box">
	<h1>Register</h1>
<form>
	<p>
		<label for="username">Username:</label>
		<input ng-model="myForm.username" type="text" id="username" />
	</p>
	<p>
		<label for="password">Password:</label>
		<input ng-model="myForm.password" required type="password" id="password" />
	</p>
	<p>
		<label for="fullName">Full Name:</label>
		<input ng-model="myForm.name" type="text" id="fullName" />
	</p>
	<p>
		<label for="fullName">Email:</label>
		<input ng-model="myForm.email" type="text" id="fullName" />
	</p>
	<p>
		<label for="fullName">Phone:</label>
		<input ng-model="myForm.phone" type="text" id="fullName" />
	</p>
	<p class="buttons">
		<a href="#" ng-click="myForm.submitTheForm()" class="button">Register</a>
		<a href="/#/login" class="link">Login</a>
	</p>
</form>

</div>

